.full-loader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index: 99999999999;
    color: white;
    font-size: 5rem;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}