.jobs-format {
    text-align: left !important;

    p {
        text-align: left !important;
        font-family: 'Futura';
        font-weight: normal;
        line-height: 1.7;
        letter-spacing: 0.06944444444444445vw;
        font-size: 1.3888888888888888vw;
    }

    ul {
        text-align: left;
        font-family: 'Futura';
        font-weight: normal;
        line-height: 1.7;
        letter-spacing: 0.06944444444444445vw;
        font-size: 1.3888888888888888vw;
        padding-left: 1.25vw;
    }

    h4 {
        margin-top: 6.944444444444445vw;
        margin-bottom: 2.083333333333333vw;
    }
}

.yellow-container {
    .btn {
        margin-top: 4.166666666666666vw;
    }

    .jobs-format {
        margin-top: 0px;

        h4 {
            margin-top: 4.166666666666666vw;
            margin-bottom: 2.083333333333333vw;
        }
    }
}

.yellow-container .btn-black:hover {
    opacity: 1;
    background-color: #53595f;
}

.job-list-item {
    border-top: 1px solid vad(--main-text-color);
}

.jobdetails-container {
    h2 {
        text-transform: uppercase;
    }
}

.jobs-wrapper a {
    color: var(--main-text-color);
}

@media (max-width: 769px) {
    .jobdetails-container h1 {
        font-size: 8vw;
    }

    .jobs-page .smaller-container {
        margin-bottom: 16vw;
    }

    .jobs-wrapper .col-12 {
        padding: 0;
    }

    .yellow-container {
        margin-top: 16vw;
        padding-top: 16vw;
        padding-bottom: 16vw;
        text-align: center;

        .btn {
            margin-top: 16vw;
        }

        .jobs-format {
            margin-top: 0px;

            h4 {
                margin-top: 16vw;
                margin-bottom: 8vw;
            }
        }
    }

    .jobs-format {
        text-align: center !important;

        div p {
            text-align: center !important;
        }

        p {
            letter-spacing: 0.26666666666666666vw;
            font-size: 5.333333333333334vw;
        }

        ul {
            letter-spacing: 0.26666666666666666vw;
            font-size: 5.333333333333334vw;
            padding-left: 4.8vw;
        }

        h4 {
            margin-top: 26.666666666666668vw;
            margin-bottom: 8vw;
        }


    }
}