.jobs-format {
    text-align: left !important;

    p {
        text-align: left !important;
        font-family: 'Futura';
        font-weight: normal;
        line-height: 1.7;
        letter-spacing: 1px;
        font-size: 20px;
    }

    ul {
        text-align: left;
        font-family: 'Futura';
        font-weight: normal;
        line-height: 1.7;
        letter-spacing: 1px;
        font-size: 20px;
        padding-left: 18px;
    }

    h4 {
        margin-top: 100px;
        margin-bottom: 30px;
    }
}

.yellow-container {
    .btn {
        margin-top: 60px;
    }

    .jobs-format {
        margin-top: 0px;

        h4 {
            margin-top: 60px;
            margin-bottom: 30px;
        }
    }
}

.yellow-container .btn-black:hover {
    opacity: 1;
    background-color: #53595f;
}

.job-list-item {
    border-top: 1px solid vad(--main-text-color);
}

.jobdetails-container {
    h2 {
        text-transform: uppercase;
    }
}