.landing-video {
    width: 100%;
    height: 100vh;

}

.landing-video iframe {
    width: 100%;
    height: 100%;
}


.landing-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 2.7777777777777777vw;

}

.landing-video {
    background-color: var(--main-text-color);
}

.video {
    width: 100% !important;
    height: 100% !important;
}

video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.video-desktop {
    aspect-ratio: 16/9;
}

.btn-landing {
    background-color: var(--work) !important;
    color: var(--main-text-color) !important;
}

.btn-landing:hover {
    color: var(--main-text-color) !important;
    background-color: #ecccff !important;
    opacity: 1 !important;

}


.preloader-image {
    z-index: 0;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
}

.video-desktop {
    display: block !important;


}

.video-desktop video {
    transform: scale(1.4);
}

.video-tablet {
    display: none !important;
}

.video-mobile {
    display: none !important;
}



@media (max-width: 992px) {
    .video-desktop {
        display: none !important;
    }

    .video-tablet {
        display: block !important;
    }

    .video-mobile {
        display: none !important;
    }

    .landing-container {
        padding-bottom: 37.333333333333336vw;
    }
}


@media (max-width: 576px) {
    .video-desktop {
        display: none !important;
    }

    .video-tablet {
        display: none !important;
    }

    .video-mobile {
        display: block !important;
    }
}