.landing-video {
    width: 100%;
    height: 100vh;
}

.landing-video iframe {
    width: 100%;
    height: 100%;
}


.landing-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 40px;

}

.landing-video {
    background-color: var(--main-text-color);
}

.video {
    width: 100% !important;
    height: 100% !important;
}

video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.video-desktop {
    aspect-ratio: 16/9;
}

.btn-landing {
    background-color: var(--work);
    color: var(--main-text-color);
}

.btn-landing:hover {
    color: var(--main-text-color);
    background-color: #ecccff;
    opacity: 1;

}


.preloader-image {
    z-index: 0;
    position: fixed !important;
    left: 0;
    top: 300px;
    width: 100vw;
    height: 100vh;
}

.video-desktop {
    display: block;
    transform: scale(1.4);
}

.video-tablet {
    display: none;
}

.video-mobile {
    display: none;
}



@media (max-width: 992px) {
    .video-desktop {
        display: none;
    }

    .video-tablet {
        display: block;
    }

    .video-mobile {
        display: none;
    }

    .landing-container {
        padding-bottom: 140px;
    }
}


@media (max-width: 576px) {
    .video-desktop {
        display: none;
    }

    .video-tablet {
        display: none;
    }

    .video-mobile {
        display: block;
    }
}