.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
}

.page-wrapper {
    margin-top: 250px;
    text-align: center;
}

#three {
    left: 0;
    top: 0;
    position: relative;
    z-index: 999999;
    pointer-events: none;
    width: 600px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
}

#three div {
    pointer-events: none !important;
}

#three canvas {
    pointer-events: none;
}


h1 {
    position: relative;
    display: inline;
    z-index: 4;
    color: var(--main-text-color);
    text-transform: uppercase;
    background-image: linear-gradient(var(--jobs), var(--jobs));
    background-position: 5% 87%;
    background-repeat: no-repeat;
    background-size: 0% 30px;
    transition: background-size 0.8s;
    overflow: visible;
    padding-inline: 10px 10px;
}


.align-left {
    text-align: left;
    margin-top: 60px;
}

.page-404 {
    margin-bottom: 0px;
}


@media (max-width: 769px) {

    .page-wrapper {
        margin-top: 145px;
    }



}