.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
}

.page-wrapper {
    margin-top: 17.36111111111111vw;
    text-align: center;
}

#three {
    left: 0;
    top: 0;
    position: relative;
    z-index: 999999;
    pointer-events: none;
    width: 27.77777777777778vw;
    height: 27.77777777777778vw;
    text-align: center;
    margin: 0 auto;
}

#three div {
    pointer-events: none !important;
}

#three canvas {
    pointer-events: none;
}


h1 {
    position: relative;
    display: inline;
    z-index: 4;
    color: var(--main-text-color);
    text-transform: uppercase;
    background-image: linear-gradient(var(--jobs), var(--jobs));
    background-position: 5% 87%;
    background-repeat: no-repeat;
    background-size: 0% 2.083333333333333vw;
    transition: background-size 0.8s;
    overflow: visible;
}


.align-left {
    text-align: left;
    margin-top: 4.166666666666666vw;
}

.page-404 {
    margin-bottom: 0px;
}


@media (max-width: 769px) {

    .arrow-small {
        display: none
    }

    .page-wrapper {
        margin-top: 38.666666666666664vw;
    }



    #three {
        width: 106.66666666666667vw;
        height: 106.66666666666667vw;
    }

    h1 {
        background-size: 0% 8vw;
    }


    .align-left {
        text-align: left;
        margin-top: 16vw;
    }




}