.standard-page {
    h1 {
        background-size: 0% 0%;
    }

    color: var(--main-text-color);

    h4 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    li {
        font-size: 15px;
    }

    margin-bottom: 200px;

    a {
        position: relative;
        z-index: 20;
    }

    a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: -3px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        background: #53595f;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        z-index: 1;
    }

    a:hover:after {
        width: 100%;
    }
}

.impressum {
    text-align: center !important;
}