.standard-page {
    h1 {
        background-size: 0% 0%;
    }

    color: var(--main-text-color);

    h4 {
        margin-top: 4.166666666666666vw;
        margin-bottom: 2.083333333333333vw;
    }

    li {
        font-size: 1.0416666666666665vw;
    }

    margin-bottom: 13.88888888888889vw;

    a {
        position: relative;
        z-index: 20;
    }

    a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: -0.20833333333333334vw;
        content: "";
        display: block;
        height: 0.1388888888888889vw;
        left: 0;
        position: absolute;
        background: #53595f;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        z-index: 1;
    }

    a:hover:after {
        width: 100%;
    }
}

.impressum {
    text-align: center !important;
}

@media (max-width: 769px) {

    .standard-page {

        h4 {
            margin-top: 16vw;
            margin-bottom: 8vw;
        }

        li {
            font-size: 4vw;
        }

        margin-bottom: 53.333333333333336vw;


        a:after {
            bottom: -0.8vw;
            height: 0.5333333333333333vw;
        }
    }
}