.about-page {
    text-align: center;

    p {
        text-align: center;
    }

    h1 {
        background-image: linear-gradient(var(--about), var(--about)) !important;


    }

    span {
        position: relative;

        margin-bottom: 60px !important;
    }

}


.align-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    margin-top: 80px;
}

.polaroids {
    position: relative;
    background-color: var(--main-text-color);
    min-height: 100vh;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 10vw;
        line-height: 10.8vw;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        position: relative;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
        z-index: 1029;
    }
}

.faq-wrapper {
    margin-top: 150px;
}

.faq-container {
    border-bottom: 1px solid var(--main-text-color);
    padding-bottom: 70px;
    padding-top: 70px;
}

.faq-container:hover {
    .faq-headline {
        margin-left: 30px;
    }
}

.faq-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

    h3 {
        margin-top: 7px;
        margin-bottom: 0px;
    }

    svg {
        width: 80px;
    }
}

.faq-answer {
    overflow: hidden;
    height: 0;
    padding-top: 0px;
    transition: 0.5s all ease;
}

.faq-answer-open {
    padding-top: 50px;
    height: auto;
}

.media-logo {
    width: 200px;
}

.media-wrapper {
    text-align: center;
    background-color: var(--main-text-color);
    padding-top: 60px;
    padding-bottom: 0px;
    color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-top: 60px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 70px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
        color: var(--main-text-color);
    }

    h4 {
        font-weight: normal;
        text-transform: uppercase;
        color: #068388;
    }
}

.media-container {
    margin-top: 30px;
    margin-bottom: 39px;
    max-width: 800px;
}

.walls-container {
    margin-top: 60px;
    z-index: 2;
    position: relative;

    h4 {
        font-weight: bold;
        color: var(--main-bg-color);
        margin-top: 30px;

    }
}

.media-container a svg {
    fill: #868a8e;
}

.zoom-hover {
    overflow: hidden;

}

.zoom-hover div img {
    transition: transform 0.8s ease;
}



.zoom-hover div img:hover {
    transition: transform 0.8s ease;
    transform: scale(1.08)
}

.green-container {
    width: 100%;
    margin-top: -300px;
    background-color: #068388;
    height: 500px;
    position: relative;
    z-index: 1;
}

.partners-container {
    margin-top: 200px;
    margin-bottom: 50px;

}

.logo-partner {

    text-align: center;
    width: 130px !important;


}

.logo-partner-wrapper {
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.logo-partner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-container {
    margin-top: 150px;
}

.image-team-wrapper {
    margin-bottom: 40px;
    position: relative;
    z-index: 3;

    h4 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

.margin-bottom-100 {
    margin-bottom: 70px;
}

.team-image {
    position: relative;
}

.image-baby {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

.image-adult {
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
}

.opacity1 {
    opacity: 1;
}

.bottom-row {
    margin-bottom: 200px;
}

.hover-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle-team {
    position: -webkit-sticky;
    /* Safari */

    position: sticky;
    z-index: 99;
    top: 200px;
    align-items: normal
}

.sticky-container {
    position: relative;
    height: 100%;
    width: 100%;

}

.circle-svg {
    position: absolute;
    right: 8%;
    width: 170px;
    margin-top: -110px;
}