.about-page {
    text-align: center;

    p {
        text-align: center;
    }

    h1 {
        background-image: linear-gradient(var(--about), var(--about)) !important;


    }

    span {
        position: relative;

        margin-bottom: 4.166666666666666vw !important;
    }

}


.align-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    margin-top: 5.555555555555555vw;
}

.polaroids {
    position: relative;
    background-color: var(--main-text-color);
    min-height: 100vh;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 10vw;
        line-height: 10.8vw;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        position: relative;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
        z-index: 1029;
    }
}

.faq-wrapper {
    margin-top: 10.416666666666668vw;
}

.faq-container {
    border-bottom: 0.06944444444444445vw solid var(--main-text-color);
    padding-bottom: 4.861111111111112vw;
    padding-top: 4.861111111111112vw;
    cursor: pointer;
}

.faq-container:hover {
    .faq-headline {
        margin-left: 2.083333333333333vw;
    }
}

.faq-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

    h3 {
        margin-top: 0.4861111111111111vw;
        margin-bottom: 0px;
    }

    svg {
        width: 5.555555555555555vw;
    }
}

.faq-answer {
    overflow: hidden;
    height: 0;
    padding-top: 0px;
    transition: 0.5s all ease;
}

.faq-answer-open {
    padding-top: 3.4722222222222223vw;
    height: auto;
}

.media-logo {
    width: 13.88888888888889vw;
}

.media-wrapper {
    text-align: center;
    background-color: var(--main-text-color);
    padding-top: 4.166666666666666vw;
    padding-bottom: 0px;
    color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-top: 4.166666666666666vw;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 4.861111111111112vw;
        -webkit-text-stroke-width: 0.1388888888888889vw;
        -webkit-text-stroke-color: white;
        color: var(--main-text-color);
    }

    h4 {
        font-weight: normal;
        text-transform: uppercase;
        color: #068388;
    }
}

.media-container {
    margin-top: 2.083333333333333vw;
    margin-bottom: 2.7083333333333335vw;

    a:hover {
        opacity: 1
    }
}

.walls-container {
    margin-top: 4.166666666666666vw;
    z-index: 2;
    position: relative;

    h4 {
        font-weight: bold;
        color: var(--main-bg-color);
        margin-top: 2.083333333333333vw;

    }
}

.media-container a svg {
    fill: #868a8e;
}

.zoom-hover {
    padding: 1.3888888888888888vw;
}

.green-container {
    width: 100%;
    margin-top: -20.833333333333336vw;
    background-color: #068388;
    height: 34.72222222222222vw;
    position: relative;
    z-index: 1;
}

.partners-container {
    margin-top: 13.88888888888889vw;
    margin-bottom: 3.4722222222222223vw;

}

.logo-partner {

    text-align: center;
    width: 130px !important;

    div {
        transition: opacity 1.5s ease !important;
    }
}

.logo-partner-wrapper {
    display: flex;
    padding: 4.166666666666666vw;
    justify-content: center;
    align-items: center;
}

.logo-partner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-container {
    margin-top: 10.416666666666668vw;
}

.image-team-wrapper {
    margin-bottom: 2.7777777777777777vw;
    position: relative;
    z-index: 3;

    h4 {
        margin-top: 1.3888888888888888vw;
        margin-bottom: 0px;
    }
}

.margin-bottom-100 {
    margin-bottom: 1.3888888888888888vw;
}

.team-image {
    position: relative;
}

.image-baby {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

.image-adult {
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
}

.opacity1 {
    opacity: 1;
}

.bottom-row {
    margin-bottom: 13.88888888888889vw;
}

.hover-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle-team {
    position: -webkit-sticky;
    /* Safari */

    position: sticky;
    z-index: 99;
    top: 5%;
    align-items: normal;
    left: 85%;
    height: 9.722222222222223vw;
    width: 9.722222222222223vw;

}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.sticky-container {
    position: relative;
    height: 100%;
    width: 100%;

}

.circle-svg {
    position: absolute;
    width: 100%;
    height: 100%;

}

.circle {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.bottom-row {
    margin-top: -5.555555555555555vw;
}

.image-team-wrapper h4 {
    font-size: 1.3888888888888888vw;
    text-transform: uppercase;
}

.media-wrapper h4 {
    margin-top: 1.3888888888888888vw;
}

@media (max-width: 769px) {

    .about-page {

        span {

            margin-bottom: 16vw !important;
        }

    }

    .polaroids {
        margin-top: 53.333333333333336vw;
        margin-bottom: 53.333333333333336vw;

        h2 {
            -webkit-text-stroke-width: 0.5333333333333333vw;
        }
    }

    .faq-wrapper {
        margin-top: 40vw;
    }

    .faq-container {
        border-bottom: 0.26666666666666666vw solid var(--main-text-color);
        padding-bottom: 18.666666666666668vw;
        padding-top: 18.666666666666668vw;
    }

    .faq-container:hover {
        .faq-headline {
            margin-left: 8vw;
        }
    }

    .circle-team {
        top: 10%;
    }

    .circle-svg {
        width: 32vw;
        height: 32vw;
    }

    .bottom-row {
        margin-top: -37.333333333333336vw;
    }

    .media-wrapper h2 {
        font-size: 3.4666666666666663vw;
        -webkit-text-stroke-width: 0.26666666666666666vw;
    }

    .cta {
        margin-top: 10.666666666666668vw;
    }

    .about-page span {
        margin-bottom: 8vw !important;
    }

    .polaroids {
        margin-top: 16vw;
        margin-bottom: 16vw;
        min-height: 133.33333333333331vw;
    }

    .faq-wrapper {
        margin-top: 8vw !important;
    }

    .faq-container {
        padding-top: 8vw;
        padding-bottom: 8vw;
    }

    .faq-headline {

        h3 {
            margin-top: 1.866666666666667vw;
        }

        svg {
            width: 21.333333333333336vw;
        }
    }

    .faq-answer-open {
        padding-top: 13.333333333333334vw;
    }

    .media-logo {
        width: 53.333333333333336vw;
    }

    .media-wrapper {
        margin-top: 16vw;
    }

    .logo-partner-wrapper {
        padding: 5.333333333333334vw;
        height: 26.666666666666668vw;
    }

    .media-wrapper {
        padding-top: 16vw;

        h2 {
            margin-top: 16vw;
            font-size: 8vw;
            -webkit-text-stroke-width: 0.5333333333333333vw;
        }
    }

    .media-container {
        margin-top: 8vw;
        margin-bottom: 10.4vw;
    }

    .walls-container {
        max-width: 100%;
        overflow: scroll;
        margin-top: 16vw;

        .row {
            flex-wrap: revert;
        }

        .col-4 {
            width: 70%;
            padding: 4vw;
        }

        h4 {
            text-align: left;
            margin-top: 8vw;
        }
    }


    .green-container {
        height: 96vw;
    }

    .partners-container {
        margin-top: 16vw;
    }

    .team-container {
        margin-top: 16vw;
    }

    .faq-answer-open {
        font-size: 5.333333333333334vw !important;
        line-height: 8.533333333333333vw !important;
        letter-spacing: 0.24266666666666667vw !important;
    }

    .zoom-hover {
        padding: 5.333333333333334vw;
    }

    .green-container {
        margin-top: -80vw;
        height: 133.33333333333331vw;
    }

    .partners-container {
        margin-top: 53.333333333333336vw;
        margin-bottom: 13.333333333333334vw;

    }

    .logo-partner {
        width: 130px !important;
    }

    .logo-partner-wrapper {
        padding: 20px;
    }

    .image-team-wrapper {
        margin-bottom: 10.666666666666668vw;

        h4 {
            margin-top: 5.333333333333334vw;
            margin-bottom: 0px;
        }
    }

    .margin-bottom-100 {
        margin-bottom: 18.666666666666668vw;
    }

    .bottom-row {
        margin-bottom: 53.333333333333336vw;
    }


    .circle-team {
        height: 37.333333333333336vw;
        width: 37.333333333333336vw;

    }

    .bottom-row {
        margin-top: -21.333333333333336vw;
    }

    .image-team-wrapper h4 {
        font-size: 5.333333333333334vw;
    }

    .media-wrapper h4 {
        margin-top: 5.333333333333334vw;
    }
}

@media (max-width: 576px) {

    .circle-team {
        top: 15%;
        left: 90%;
    }

    .bottom-row {
        margin-top: -26.666666666666668vw;
    }
}