.smaller-container {
    max-width: 750px;
    margin-top: 45px;
}

.pink-container {
    background-color: var(--contact);
    text-align: center;
    padding-top: 61px;
    padding-bottom: 61px;
    margin-top: 200px;
    min-height: 100%;

    .btn-black:hover {
        opacity: 1;
        background-color: #53595f;
    }
}

.sign-icon {
    max-width: 537px;
    margin-bottom: 60px;
}

.landing .tl-edges {
    overflow: revert;
}


.contact-page h1 {
    background-image: linear-gradient(var(--contact), var(--contact)) !important;
}