.smaller-container {
    max-width: 52.083333333333336vw;
    margin-top: 3.125vw;
}

.pink-container {
    background-color: var(--contact);
    text-align: center;
    padding-top: 4.236111111111112vw;
    padding-bottom: 4.236111111111112vw;
    margin-top: 13.88888888888889vw;
    min-height: 100%;

    .btn-black:hover {
        opacity: 1;
        background-color: #53595f;
    }
}

.sign-icon {
    max-width: 37.291666666666664vw;
    margin-bottom: 2.6vw;

}

.landing .tl-edges {
    overflow: revert;
}


.contact-page h1 {
    background-image: linear-gradient(var(--contact), var(--contact)) !important;
}

.konichiwa {
    margin-bottom: 4.027777777777778vw;
    font-size: 1.6vw;
}

@media (max-width: 769px) {
    .contact-page {
        text-align: center;
    }

    .konichiwa {
        margin-bottom: 12vw;
        font-size: 5vw;
    }

    .smaller-container {
        max-width: 200vw;
        margin-top: 12vw;
    }

    .pink-container {
        padding-top: 16.266666666666666vw;
        padding-bottom: 16.266666666666666vw;
        margin-top: 53.333333333333336vw;
    }

    .sign-icon {
        max-width: 143.2vw;
        margin-bottom: 7vw;
    }
}