.navbar {
    background-color: var(--main-bg-color);
    max-width: 100%;
}

.navbar .container-fluid {
    height: 100%;
}

#Warda_logo {
    height: 100%;
    margin-left: -20px
}

.navbar-transparent {
    background-color: transparent !important;

}

.navbar-transparent .nav-link {
    color: var(--main-bg-color);
}

.navbar-transparent .nav-link:focus,
.navbar-transparent .nav-link:hover {
    color: var(--main-bg-color);
}

.navbar-transparent .navbar-nav .nav-link:after {
    background: var(--main-bg-color);
}

.navbar-transparent .navbar-nav .nav-link.active,
.navbar-transparent .navbar-nav .show>.nav-link {
    color: var(--main-bg-color);
}

.nav-link {
    color: var(--main-text-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--main-text-color);
}

.navbar-transparent .navbar-nav .nav-link.active::after,
.navbar-transparent .navbar-nav .show>.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: var(--main-bg-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
    left: 0;
}


.navbar-nav .nav-link.active::after,
.navbar-nav .show>.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: var(--main-text-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
    left: 0;
}



.navbar-nav .nav-link {
    font-family: 'Futura';
    font-size: 14px;
    font-weight: bold;
    line-height: 1.37;
    letter-spacing: 1.64px;
    margin-right: 27.5px;
    margin-left: 27.5px;
    padding: 0px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.navbar-nav .nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: var(--main-text-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-nav .nav-link:hover:after {
    width: 100%;
    left: 0;
}

.navbar-expand-md .navbar-nav .nav-link:last-of-type {
    margin-right: 0px;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--main-text-color);
}

.navbar-nav {
    padding-right: 0px !important;
}

.hamburger-react {
    display: none;
}

.hamburger-react div {
    height: 2px !important;
}



.navbar-brand {
    z-index: 1040;
    height: 100%;
    display: flex;
    flex-direction: row;
}



.navbar-nav .nav-link {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


@media (max-width: 769px) {
    .hamburger-react {
        display: block;
        z-index: 1040;
    }

    .navbar-expand {
        opacity: 0;
    }

    #showNavbar {
        transition: opacity 0.5s;
        opacity: 1;
    }

    .opacity0 {
        opacity: 0;
        transition: all 0.5s ease;

    }

    .opacity1 {
        opacity: 1;
    }

    .navbar-toggled {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: var(--main-bg-color) !important;
        color: var(----text-dark-bg) !important;
        width: 100%;
        height: 100%;
        pointer-events: none !important;
    }

    .opacity1 {
        pointer-events: revert !important;
    }



    .navbar-transparent .nav-link {
        margin: 60px 0;
        font-family: Futura;
        font-size: 45px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        color: var(--main-text-color);
    }

    .navbar-nav .nav-link:hover:after {
        width: 0% !important;
    }

    .navbar-transparent .navbar-nav .nav-link.active,
    .navbar-transparent .navbar-nav .show>.nav-link {
        color: var(--main-text-color);
    }

    .nav-link {
        margin: 60px 0 !important;
        font-family: Futura !important;
        font-size: 45px !important;
        font-weight: bold !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: normal !important;
        letter-spacing: 2px !important;
        color: var(--main-text-color) !important;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        color: var(--main-text-color) !important;
    }

    .navbar-expand .navbar-nav {
        flex-direction: column;
        padding-left: 20px;
    }

    .hamburger-react {
        margin-right: -11px;
    }

}