.footer {
    background-color: var(--main-text-color);
    color: #fff;
    padding-top: 26px;
    padding-bottom: 26px;
    z-index: 3;
    position: relative;
}

.footer a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s all ease;
}

.footer a:hover {
    text-decoration: none;
    opacity: 0.75;
}

.getintouch {
    text-align: center;
    margin-top: 5.347222222222222vw;
    margin-bottom: 5.347222222222222vw;
}

.getintouch a {
    font-family: Monument;
    font-weight: bold;
    color: var(--contact) !important;
    font-size: 3.4722222222222223vw;
    text-transform: uppercase;
    letter-spacing: 0.3472222222222222vw;
    text-decoration: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.getintouch a span {
    position: relative;
    z-index: 20;
}

.getintouch a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -0.2777777777777778vw;
    content: "";
    display: block;
    height: 0.3472222222222222vw;
    left: 0;
    position: absolute;
    background: var(--contact);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 1;
}

.getintouch a:hover:after {
    left: 0;
    width: 100%;

}


.getintouch a:hover {
    color: var(--contact);
}

.socialFooter {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    text-align: right;
}

.social-icon {
    width: 24px;
}

.logo-footer {
    width: 1.8055555555555554vw;
}

.footer-link {
    display: flex;
    flex-direction: row;
}

.footer-link {
    font-family: Monument;
    font-size: 1.6666666666666667vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color: #fffc00 !important;
    text-decoration: none;
    letter-spacing: 0.10416666666666667vw;
    width: 11.805555555555555vw;
}

.footer-link img {
    padding-left: 0.3472222222222222vw;
    padding-right: 0.3472222222222222vw;
}

.footer-marquee-text {
    margin-left: 0.3472222222222222vw;
    margin-right: 0.3472222222222222vw;
}

.footer-link:hover {
    opacity: 0.75;
    color: #fffc00;

}

.d-desktop-none {
    display: none;
}


.d-mobile-none {
    display: block;
}

.mobile-none {
    display: flex
}

.bottom-arrow {
    margin-left: 0.6944444444444444vw;
    margin-bottom: 0.2777777777777778vw;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-nav-link {
    padding-right: 0.6944444444444444vw;
    font-size: 1.0416666666666665vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04722222222222222vw;
}

.footer-nav-link:last-child {
    padding-right: 0px;
}

.footer-nav-link::after {
    content: '•';
    padding-left: 0.6944444444444444vw;
}


.footer-nav-link:last-child:after {
    content: '';
}

.desktop-none {
    display: none
}

.getintouch a:hover {
    opacity: 1 !important;
}

@media (max-width: 992px) {

    .footer {
        padding-top: 6.933333333333333vw;
        padding-bottom: 6.933333333333333vw;
    }

    .mobile-none {
        display: none;
    }

    .desktop-none {
        display: flex
    }

    .d-mobile-none {
        display: none;
    }

    .d-desktop-none {
        display: block;
    }

    .getintouch a {
        font-size: 6.666666666666667vw;
        letter-spacing: 1.3333333333333335vw;
    }

    .getintouch a:after {
        bottom: -1.0666666666666667vw;
    }

    .getintouch {
        margin-top: 10.133333333333333vw;
        margin-bottom: 10.133333333333333vw;
    }

    .socialFooter {
        justify-content: center;

    }


    .logo-footer {
        width: 6.933333333333333vw;
    }


    .socialFooter a {
        padding: 1.3333333333333335vw;
    }

    .mobile-footer-txt {
        text-align: center;
        line-height: 2.5;
    }

    .footer-link {
        padding-top: 9vw;
        padding-bottom: 9vw;
        margin: 0 auto;
        letter-spacing: 0.4vw;
        width: 45.33333333333333vw;
        font-size: 3.733333333333334vw;
    }

    .footer-link:hover {
        opacity: 1;
    }

    .footer-link img {
        padding-left: 1.3333333333333335vw;
        padding-right: 1.3333333333333335vw;
    }

    .footer-marquee-text {
        margin-left: 1.3333333333333335vw;
        margin-right: 1.3333333333333335vw;
    }

    .copyright {
        text-align: center;
    }

    .footer-nav {
        margin-bottom: 8vw;
    }

    .bottom-arrow {
        margin-left: 2.0666666666666667vw;
        margin-bottom: 1.666666666666667vw;
    }

    .footer-nav-link {
        padding-right: 2.666666666666667vw;
        font-size: 4vw;
        letter-spacing: 0.18133333333333335vw;
    }

    .footer-nav-link::after {
        padding-left: 2.666666666666667vw;
    }
}