.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    will-change: all;
    z-index: 9999999999999999;
    pointer-events: none;
    mix-blend-mode: difference;
    animation: fadeIn 0.8s;
}

.ring:nth-child(2) {
    display: none;
}



.dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--work);
    border-radius: 100%;
    z-index: 9999999999999999;
    pointer-events: none;
    transition: width 0.8s ease, height 0.8s ease, background-color 0.8s ease;
    transform: translate(-50%, -50%);
}


.triangle {
    display: block;
    transform: translate(0%, -50%) !important;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    border-style: solid;
    border-width: 0 15px 18px 15px;
    border-color: transparent #000 #000 transparent;
    animation: fadeIn 0.8s;
    mix-blend-mode: difference;
    background-color: #ffffff;
}

.triangle:nth-child(2) {
    display: block;
}

body {


    @media (hover: none) {
        /* ... */

        .dot {
            display: none;
        }

        .ring {
            display: none;
        }

        .triangle {
            display: none;
        }
    }
}