.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    will-change: width, height, transform, border;
    z-index: 9999999999999999;
    pointer-events: none;
    mix-blend-mode: difference;
}

.dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--work);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999;
    pointer-events: none;
}

body {
    cursor: none !important;

    a {
        cursor: none !important;
    }
}

@media (max-width: 769px) {
    .dot {
        display: none;
    }

    .ring {
        display: none;
    }
}