@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FuturaStdMedium.woff') format('woff');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/FuturaStdBold.woff') format('woff');
}


@font-face {
    font-family: 'Monument';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PPMonumentExtended-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Monument';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/PPMonumentExtended-Heavy.woff') format('woff');
}

:root {
    --main-bg-color: #f0f2f4;
    --main-text-color: #101820;
    --link-light-bg: #53595f;
    --text-dark-bg: #868a8e;
    --work: #e0aaff;
    --about: #90cab7;
    --jobs: #e6e97c;
    --contact: #f8bbd6;
}




body {
    outline: none;
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 1.3px;
    font-size: 30px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
    color: #868a8e;

}


a:hover {
    text-decoration: none;
    color: #868a8e;
    opacity: 0.75;
}

p {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 2;
    letter-spacing: 1.3px;
    font-size: 30px;
}

.text-sm {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 1px;
    font-size: 20px;
}

.text-xs {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-size: 15px;

}

.text-xs p {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.bold {
    font-weight: bold;
    margin-bottom: 0px;
}


h1 {
    font-family: 'Monument';
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 3px;
    font-size: 70px;
    display: inline;
    margin-bottom: 60px;
}

h2 {
    font-family: 'Monument';
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 35px;
}

h3 {
    font-family: 'Monument';
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 30px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Monument';
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 20px;
}


.h1visible h1 {
    background-size: 110% 30px;
}


.container-fluid {
    padding-left: 39px;
    padding-right: 39px;
}

.btn {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-family: Monument;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.btn:hover {
    opacity: 0.75;
}

.btn-black {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

.btn-black:hover {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

.btn-2 {
    font-family: "Monument";
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2.5px;
}

.tl-wrapper {
    position: relative;
    float: revert;
}

.tl-edges {
    overflow: revert;
}

.transitionlinkPortal {
    z-index: 9999000;
}

.arrow-small {
    content: url('../assets/Pfeil.svg')
}


.media-container a {
    color: #868a8e !important;
}

@media (max-width: 769px) {
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 35px;
        line-height: 1.4;
        letter-spacing: 1.5px;
        background-size: 0% 13px;
    }

    .h1visible h1 {
        background-size: 110% 13px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;

    }

    h5 {
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.5px;
    }

    p {
        line-height: 1.6;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .text-sm {
        line-height: 1.6;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .text-xs {
        letter-spacing: 2.5px;
        font-size: 13px;
    }


    .btn {
        font-size: 13px;
        letter-spacing: 2.5px;
    }


}