@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FuturaStdMedium.woff') format('woff');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/FuturaStdBold.woff') format('woff');
}


@font-face {
    font-family: 'Monument';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PPMonumentExtended-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Monument';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/PPMonumentExtended-Heavy.woff') format('woff');
}

:root {
    --main-bg-color: #f0f2f4;
    --main-text-color: #101820;
    --link-light-bg: #53595f;
    --text-dark-bg: #868a8e;
    --work: #e0aaff;
    --about: #90cab7;
    --jobs: #e6e97c;
    --contact: #f8bbd6;
}




body {
    outline: none;
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.09027777777777779vw;
    font-size: 2.083333333333333vw;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
    color: #53595f;

}

a span {
    position: relative;
    z-index: 20;
}

a span:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #53595f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 1;
}

a:hover>span:after {
    left: 0;
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: var(--main-text-color);
    opacity: 0.75;
}

p {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 2;
    letter-spacing: 0.09027777777777779vw;
    font-size: 2.083333333333333vw;
}

.text-sm {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.06944444444444445vw;
    font-size: 1.3888888888888888vw;
}

.text-sm p {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.06944444444444445vw;
    font-size: 1.3888888888888888vw;
}

.text-xs {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.034722222222222224vw;
    font-size: 1.0416666666666665vw;

}

.text-xs p {
    font-family: 'Futura';
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.034722222222222224vw;
    font-size: 1.0416666666666665vw;
}

.bold {
    font-weight: bold;
    margin-bottom: 0px;
}


h1 {
    font-family: 'Monument';
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.20833333333333334vw;
    font-size: 4.861111111111112vw;
    display: inline;
    margin-bottom: 60px;
}

h2 {
    font-family: 'Monument';
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.10416666666666667vw;
    font-size: 2.430555555555556vw;
}

h3 {
    font-family: 'Monument';
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.06944444444444445vw;
    font-size: 2.083333333333333vw;
    text-transform: uppercase;
}

h4 {
    font-family: 'Monument';
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.06944444444444445vw;
    font-size: 1.3888888888888888vw;
}


.h1visible h1 {
    background-size: 110% 30px;
}


.container-fluid {
    padding-left: 39px;
    padding-right: 39px;
}

.btn {
    padding-left: 64px !important;
    padding-right: 64px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-radius: 100px !important;
    font-size: 1.0416666666666665vw !important;
    letter-spacing: 0.1736111111111111vw !important;
    font-family: Monument !important;
    text-transform: uppercase !important;
    transition: all 0.5s ease !important;
}

.btn:hover {
    opacity: 0.75 !important;
}

.btn-black {
    background-color: var(--main-text-color) !important;
    color: var(--main-bg-color) !important;
}

.btn-black:hover {
    background-color: var(--main-text-color) !important;
    color: var(--main-bg-color) !important;
}

.btn-2 {
    font-family: "Monument" !important;
    cursor: pointer !important;
    font-size: 1.0416666666666665vw !important;
    letter-spacing: 0.1736111111111111vw !important;
}

.tl-wrapper {
    position: relative;
    float: revert;
}

.tl-edges {
    overflow: revert;
}

.transitionlinkPortal {
    z-index: 9999000;
}

.arrow-small {
    content: url('../assets/Pfeil.svg');
    transform: translateZ(0) scale(1.3);
    margin-bottom: 5px;
    margin-right: 5px;
}


.media-container a {
    color: #868a8e !important;
}

.spinning-w {
    width: 50px;
    height: 50px;
}


@media (max-width: 769px) {


    .btn-2 {
        font-size: 4vw !important;
        letter-spacing: 0.6666666666666667vw !important;
    }

    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 9.333333333333334vw;
        line-height: 1.4;
        letter-spacing: 0.4vw;
        background-size: 0% 13px;
    }

    .h1visible h1 {
        background-size: 110% 13px;
    }

    h2 {
        font-size: 5.333333333333334vw;
    }

    h3 {
        font-size: 5.333333333333334vw;
    }

    h4 {
        font-size: 5.333333333333334vw;

    }

    h5 {
        font-size: 4vw;
        line-height: 1.5;
        letter-spacing: 0.13333333333333333vw;
    }

    p {
        line-height: 1.6;
        letter-spacing: 0.26666666666666666vw;
        font-size: 5.333333333333334vw;
    }

    .text-sm {
        line-height: 1.6;
        letter-spacing: 0.26666666666666666vw;
        font-size: 5.333333333333334vw;
    }

    .text-xs {
        letter-spacing: 0.4vw;
        font-size: 3.4666666666666663vw;
    }


    .btn {
        font-size: 3.4666666666666663vw !important;
        letter-spacing: 0.4vw !important;
    }


}